<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SHOP{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>

    <header>
        <h1>{% block header %}SHOP{% endblock %}</h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'product_list' %}">Products</a></li>
                    <li><a href="{% url 'add_product' %}">Add Product</a></li>
                    <li><a href="{% url 'user_products' %}">Your Products</a></li>
                    <li><a href="{% url 'order_list' %}">Orders</a></li>
                    <li><a href="{% url 'rooms' %}">Support</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>

                {% endif %}
                {% if user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">AdminPanel</a></li>
                {% endif %}
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        avivi app
    </footer>

</body>
</html>
